.fullgenerator {
  height: 100%;
  width: 100%
  ;
  background-color: rgb(78, 76, 74);
}

.header{
    display: flex;
    justify-content: center;
}

#headline{
    font-size: 72px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

    padding: 15px;
}

.description {
  display: flex;
  justify-content: center;
  align-items:flex-start;

  font-size: 36px;
  color: white;

  padding: 1em;
}

.FoxButton{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#generateFoxButton {
  width: 150px;
  height: 70px;

  font-size: 16px;
  font-weight: 700;
  color: black;

  background-color: white;

}

.Picture {
  display: flex;
  justify-content: center;
}

#FoxImage{
  height: 25%;
  width: 25%;
  border-radius: 20px;

  margin: 5px;
}

#bottom{
  background-color: #424042;
  font-family: Tahoma, Arial;
  font-size: 0.7em;
  color: White;

  position: absolute;
  width:100%;
  bottom:0px;
  height: 5em;
}

.creatortext{
  display: flex;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;
}
#githublink{
  text-align: center;
  display: inline;

  padding: 10px;

}
