<div class="fullgenerator">

  <div class="header">
    <h1 id="headline">
      Fox Generator
    </h1>
  </div>

    <div class="description">
      <p id="descriptionText">Generate yourself a personal fox</p>
    </div>

    <div class="FoxButton">
      <button mat-raised-button color="primary" id="generateFoxButton" (click)="generateButtonClick()">Generate Fox!</button>
    </div>

    <div class="foxPicture">
      <img src= alt="">
    </div>

    <footer id="bottom">
     <div class="footertext">Created by xqpakku &#169;</div>
    </footer>

</div>
